services:
  data-tracking-service:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - MONGO_CONNECTION_STRING=mongodb://mongo:27017/datatracking
    ports:
      - "5002:8080"
    # volumes:
    #   - ./src/DataTrackingService:/src
    # working_dir: /src
    # command: dotnet watch run --project DataTrackingService.csproj --urls=http://+:8080
    depends_on:
      - mongo

  mongo:
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  mongo-express:
    image: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
    depends_on:
      - mongo


volumes:
  mongo-data:
